<?xml version="1.0" encoding="UTF-8"?>
<forum id="newsmth">
	<sites>
		<site url="http://www.newsmth.net/bbssec.php"/>
	</sites>
	<sitemap>
		<vertex id="catalog" paging="catalog">
			<pattern type="token" token="bbsboa"/>
		</vertex>
		<vertex id="board" paging="next">
			<pattern type="token" token="bbsdoc">
				<query-item id="bName" query="board" default="board"/>
				<query-item id="bId"   ref="pFrom"/>
				<query-item id="bPage" query="page" default="0"/>
			</pattern>
		</vertex>
		<vertex id="article" paging="none">
			<pattern type="token" token="bbscon">
				<query-item id="pId"   query="id" default="0"/>
				<query-item id="pFrom" query="bid" default="0"/>
				<query-item id="pPos"  ref="bPage"/>
			</pattern>
		</vertex>
	</sitemap>
</forum>