<?xml version="1.0" encoding="UTF-8"?>
<forum id="discuz_7_2">
	<sites>
		<site root="http://www.icefirer.com" 
			entrance="http://www.icefirer.com/index-htm-m-bbs.html"/>
	</sites>
	<sitemap>
		<vertex id="catalog" classification="CATALOG">
			<pattern type="REGEX">^index-htm-m-bbs(-cateid-[\d]+)?\.html$</pattern>
			<paging type="NONE"/>
			<child ref="board" xpath=""/>
		</vertex>
		<vertex id="board" classification="BOARD">
			<pattern type="REGEX">^thread-htm-fid-[\d]+(-page-[\d]+)?\.html$</pattern>
			<paging type="FLIP" xpath="" prefix="forum-[\d]+-" suffix="\.html"/>
			<child ref="thread" xpath=""/>
		</vertex>
		<vertex id="thread" classification="THREAD">
			<pattern type="REGEX">^read-htm-tid-[\d]+(-fpage-[\d]+)?(-page-[\d]+)?\.html$</pattern>
			<paging type="FLIP" xpath="" prefix="thread-[\d]+-" suffix="-[\d]+\.html"/>
		</vertex>
	</sitemap>
</forum>